<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Responsive.master.cs" Inherits="WebSandbox.Responsive" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="~/Styles/Reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/Responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="page" oncontextmenu="return false;">
    <form id="webform" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="body" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
